<nav class="navbar-default">
	<div class="container" ng-controller="HeaderController">
		<div class="navbar-header">
			<a class="navbar-brand" href="#"><span
				class="glyphicon glyphicon-home"> BusRouteApp</span></a>
		</div>

		<ul class="nav navbar-nav">

			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="">Bus Routes <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#routes">List All Routes</a></li>
					<li><a href="#boarding_points">List All Boarding Points</a></li>
					<li><a href="#routes_stats">List All Routes Statistics</a></li>
					<li><a href="#route_capacity">List All Route Capacity</a></li>
				</ul></li>

			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="">Students <b class="caret"></b></a>
				<ul class="dropdown-menu">
					<li><a href="#students">All Students</a></li>
					<li><a href="#student_routes">All Students Routes</a></li>
				</ul></li>
			<!-- <li ng-if="loggedInUser"> <a href="#myroute">My Route</a></li> -->
			<!-- 
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="#">Admin <span class="caret"></span></a>
				<ul class="dropdown-menu">
					<li><a href="#routes">All Routes </a></li>
					<li><a href="#students">All Students</a></li>

				</ul>
			</li> -->
		</ul>


		<ul class="nav navbar-nav navbar-right" ng-if="loggedInUser">
			<li class="dropdown"><a class="dropdown-toggle"
				data-toggle="dropdown" href="">Welcome <span
					class="glyphicon glyphicon-user">{{loggedInUser.name}}</span>!!!
			</a>

				<ul class="dropdown-menu">
					<!-- <li><a href="#">My Profile </a></li> -->
					<li><a href="#" ng-click="logout()">Sign Out ! </a></li>
					<!-- <li><a href="#">Change Password ! </a></li> -->
				</ul></li>
		</ul>

	</div>

</nav>